In [6]:
import numpy as np
import pandas as pd

In [7]:
N = 10_000_000

df = pd.DataFrame(
    np.random.randint(1000, size=(N, 6)), 
    columns=list('ABCDEF'))
df

           A    B    C    D    E    F
0        877  572  491  384  813  753
1        284  652  298  829   55  631
2        960  155  790  129  474  841
3        444  602  142  622  668  462
4        842  608   28  154  974  510
...      ...  ...  ...  ...  ...  ...
9999995  981  545  615  712  858  235
9999996  915   83  118  249  435  174
9999997  140  440  721  628   34  361
9999998  102  117  427  922   13  324
9999999  249  892  473  738  441  793

[10000000 rows x 6 columns]

In [8]:
ALPHABET = np.array(list("ATGC"), dtype=(np.str_, 1))
def rands_array(nchars, size, dtype="O"):
    """Generate an array of byte strings."""
    retval = (
        np.random.choice(ALPHABET, size=nchars * np.prod(size))
        .view((np.str_, nchars))
        .reshape(size)
    )
    if dtype is None:
        return retval
    else:
        return retval.astype(dtype)

df["motif"] = pd.Series(rands_array(nchars=8, size=N))
df

           A    B    C    D    E    F     motif
0        877  572  491  384  813  753  ATTGGTCT
1        284  652  298  829   55  631  ACCGGCAA
2        960  155  790  129  474  841  AGCTAAGG
3        444  602  142  622  668  462  AAAACCAC
4        842  608   28  154  974  510  TGTCTTGG
...      ...  ...  ...  ...  ...  ...       ...
9999995  981  545  615  712  858  235  CTAGGTGC
9999996  915   83  118  249  435  174  GTCACTTT
9999997  140  440  721  628   34  361  TCTCCGCC
9999998  102  117  427  922   13  324  TTGGACAG
9999999  249  892  473  738  441  793  CGTCGTAC

[10000000 rows x 7 columns]

In [9]:
df["group"] = df.motif.apply(lambda x: ''.join(sorted(x)))
df

           A    B    C    D    E    F     motif     group
0        877  572  491  384  813  753  ATTGGTCT  ACGGTTTT
1        284  652  298  829   55  631  ACCGGCAA  AAACCCGG
2        960  155  790  129  474  841  AGCTAAGG  AAACGGGT
3        444  602  142  622  668  462  AAAACCAC  AAAAACCC
4        842  608   28  154  974  510  TGTCTTGG  CGGGTTTT
...      ...  ...  ...  ...  ...  ...       ...       ...
9999995  981  545  615  712  858  235  CTAGGTGC  ACCGGGTT
9999996  915   83  118  249  435  174  GTCACTTT  ACCGTTTT
9999997  140  440  721  628   34  361  TCTCCGCC  CCCCCGTT
9999998  102  117  427  922   13  324  TTGGACAG  AACGGGTT
9999999  249  892  473  738  441  793  CGTCGTAC  ACCCGGTT

[10000000 rows x 8 columns]

In [10]:
df.to_parquet(f"output_{N}_snappy.parquet", index=False)